<div class="flex justify-center items-center min-h-screen">
    <form class="bg-[#cfcece38] border-2 rounded-2xl border-[#969696a6] p-10">

        <h1 class="font-bold text-5xl text-center mb-10 text-[rgb(26,26,26)]" >Login</h1>
        <input class="bg-[#ffffff] rounded-lg p-2 mt-2 w-80 focus:outline-0 border border-[#8080808c]" placeholder="Username" type="text">

        <input class="block bg-[#ffffff] rounded-lg p-2 mt-2 w-80 focus:outline-0 border border-[#8080808c]" placeholder="Password" type="password">
        <button class="bg-[#5457ff] text-[#ffffff] block mx-auto rounded-xl mt-8 px-4 p-2">Sign in</button>
        <a routerLink="/register" routerLinkActive="active" class="block text-base text-center justify-center m-4 text-[rgb(26,26,26)]">Register</a>

    </form>
</div>

