# API
SECRET_KEY=please_change_me_only_for_dev
# 'true' to enable access log to stdout
ACCESS_LOG=false
LOG_LEVEL=warning
# Enable swagger docs at /api/docs
ENABLE_DOCS=true # disable or remove for prod

# UI 
NGINX_PORT=8080