<dialog #modal class="m-auto w-full max-w-md rounded-lg p-6 shadow-lg backdrop:bg-black/50">
    <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
        <label for="name" class="block text-sm font-medium text-gray-700 mt-2">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Enter playlist name"
            class="input-box w-full my-2" />

        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" formControlName="description" placeholder="Enter playlist description (optional)"
            class="input-box w-full" rows="4">
    </textarea>

        <div class="flex flex-col justify-center gap-2 mt-4">
            <button
                class="btn-primary block mx-auto mt-4"
                type="submit">Add Playlist</button>
            <button
                class="btn-neutral block mx-auto mt-2"
                type="button" (click)="modal.close()">Cancel</button>
        </div>
    </form>
</dialog>