<div class="flex gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">
    <span class="text-3xl font-semibold text-[rgb(26,26,26)]">{{ username() | titlecase }}'s Playlists</span>
</div>

<div class="flex gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">
    @for (playlist of playlists(); track playlist.id) {
    <button type="button" [routerLink]="['/playlists', playlist.id]" routerLinkActive="playlist-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="bg-[#cfcece38] shrink-0 rounded-lg px-4 py-2 hover:bg-gray-300/80 shadow transition-colors cursor-pointer">
        {{ playlist.name }}
    </button>
    }
</div>



<div class="flex flex-col gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">
    <button (click)="modal.showModal()"
        class="flex justify-center px-4 py-2 bg-[#5457ff] hover:bg-[#4c4ee6] text-white font-medium rounded-lg shadow transition-colors cursor-pointer">
        Add Book

    </button>

    <dialog #modal class="fixed inset-0 m-auto w-full max-w-md p-6 bg-white rounded-xl shadow-xl border border-gray-200
         backdrop:bg-black/50 backdrop:backdrop-blur-sm
         open:flex open:flex-col gap-4">

        <div class="py-4 text-gray-700">
            <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="space-y-4">

                <!-- Title -->
                <div>
                    <label for="title" class="block mb-1 font-medium">
                        Title
                    </label>

                    <input id="title" type="text" formControlName="title"
                        class="w-full rounded border border-gray-300 px-3 py-2 focus:outline-0"
                        placeholder="Enter book title" />
                </div>

                <!-- Authors -->
                <div>
                    <label for="authors" class="block mb-1 font-medium">
                        Authors
                    </label>

                    <input id="authors" type="text" formControlName="authors"
                        class="w-full rounded border border-gray-300 px-3 py-2 focus:outline-0"
                        placeholder="J.K. Rowling, Stephen King" />

                    <small class="text-gray-500">
                        Separate multiple authors with commas.
                    </small>
                </div>

                <!-- ISBN -->
                <div>
                    <label for="isbn" class="block mb-1 font-medium">
                        ISBN
                    </label>

                    <input id="isbn" type="text" formControlName="isbn"
                        class="w-full rounded border border-gray-300 px-3 py-2 focus:outline-0" placeholder="978-..." />
                </div>

                <!-- Number of pages -->
                <div>
                    <label for="number_of_pages" class="block mb-1 font-medium">
                        Number of Pages
                    </label>

                    <input id="number_of_pages" type="number" formControlName="number_of_pages"
                        class="w-full rounded border border-gray-300 px-3 py-2 focus:outline-0" min="1" />
                </div>

                <div class="flex flex-col justify-center">
                    <button type="submit" [disabled]="bookForm.invalid"
                        class="px-4 py-2 bg-[#5457ff] hover:bg-[#4c4ee6] text-white font-medium rounded-md transition-colors cursor-pointer my-4 disabled:opacity-50">Add
                        Book</button>
                    <button type="button" (click)="modal.close()"
                        class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 font-medium rounded-md transition-colors cursor-pointer">
                        Cancel
                    </button>
                </div>

            </form>
        </div>


    </dialog>

    @for (track of tracks(); track track.id) {
    @let book = getBookForTrack(track);

    <div class="p-4">
        @if (book) {

        <div class="flex">
            <div>
                <img [src]="book.cover_url" [alt]="book.title" class="h-48 w-auto object-cover mr-4">
            </div>

            <div>
                <div class="text-[#5457ff] font-bold text-xs">
                    {{ track.medium | uppercase }}
                </div>
                <div class="font-bold text-2xl">
                    {{ book.title }}
                </div>
                <div>
                    {{ book.authors }}
                </div>
            </div>
        </div>
        <div class="flex w-full items-center mt-4">
            <h1>{{ getProgress(track) }}%</h1>
            <div class="h-2 w-full overflow-hidden rounded-full bg-gray-200 ml-4">
                <div class="h-full rounded-full bg-[#5457ff]" [style.width.%]="getProgress(track)"></div>
            </div>
        </div>

        } @else {
        Loading...
        }
    </div>
    }
</div>