<div class="flex gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">
    <span class="text-3xl font-semibold text-[rgb(26,26,26)]">{{ username() | titlecase }}'s Playlists</span>
    <button (click)="addPlaylistModal.open()"
        class="flex p-2 mx-4 bg-[#5457ff] hover:bg-[#4c4ee6] text-white font-medium rounded-lg shadow transition-colors cursor-pointer">Create
        Playlist
    </button>
</div>

<div class="flex gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">
    @for (playlist of playlists(); track playlist.id) {
    <button type="button" [routerLink]="['/playlists', playlist.id]" routerLinkActive="playlist-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="bg-[#cfcece38] shrink-0 rounded-lg px-4 py-2 hover:bg-gray-300/80 shadow transition-colors cursor-pointer">
        {{ playlist.name }}
    </button>
    }
</div>

<app-add-playlist #addPlaylistModal (playlistAdded)="onPlaylistAdded($event)"></app-add-playlist>



<div class="flex flex-col gap-3 overflow-x-auto py-2 my-4 mx-auto max-w-7xl">

    @if (playlists().length > 0) {
    <button (click)="searchBookModal.open()"
        class="flex justify-center px-4 py-2 bg-[#5457ff] hover:bg-[#4c4ee6] text-white font-medium rounded-lg shadow transition-colors cursor-pointer">
        Add Book
    </button>
    }

    <app-search-book #searchBookModal (bookSelected)="onBookSelected($event)"></app-search-book>

    <app-add-track #addTrackModal [playlistId]="playlistId" [bookId]="selectedBookId"
        (trackAdded)="loadTracks(playlistId)">
    </app-add-track>

    @for (track of tracks(); track track.id) {
    @let book = getBookForTrack(track);

    <div class="p-4">
        @if (book) {

        <div class="flex">
            <div>
                <img [src]="book.cover_url" [alt]="book.title" class="h-48 w-auto object-cover mr-4">
            </div>

            <div>
                <div class="text-[#5457ff] font-bold text-xs">
                    {{ track.medium | uppercase }}
                </div>
                <div class="font-bold text-2xl">
                    {{ book.title }}
                </div>
                <div>
                    {{ book.authors }}
                </div>
            </div>
        </div>
        <div class="flex w-full items-center mt-4">
            <h1>{{ getProgress(track) }}%</h1>
            <div class="h-2 w-full overflow-hidden rounded-full bg-gray-200 ml-4">
                <div class="h-full rounded-full bg-[#5457ff]" [style.width.%]="getProgress(track)"></div>
            </div>
        </div>

        } @else {
        Loading...
        }
    </div>
    }
</div>