@switch (name()) {
@case ('sidebar') {
<svg class="size-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75">
    <rect x="3" y="4" width="18" height="16" />
    <path d="M9 4v16" />
</svg>
}
@case ('edit') {
<svg class="size-full" viewBox="0 0 16 16" fill="currentColor">
    <path d="m12.146 7.854l-5.932 5.932c-.14.14-.318.235-.511.274l-3.232.646a1 1 0 0 1-1.176-1.177l.646-3.232a1 1 0 0 1 .273-.51l5.932-5.933zm-1.353-6.647a1 1 0 0 1 1.414 0l2.586 2.586a1 1 0 0 1 0 1.414l-1.94 1.94l-4-4z" />
</svg>
}
@case ('history') {
<svg class="size-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M19 17V5a2 2 0 0 0-2-2H4" />
    <path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3" />
</svg>
}
@case ('check') {
<svg class="size-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M5 12l5 5L20 7" />
</svg>
}
@case ('close') {
<svg class="size-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75">
    <path d="M6 6l12 12M18 6L6 18" />
</svg>
}
}
